@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: black;
}
body {
  /* background-color: #080119; */
  background-color: #00010f;
}
svg {
  fill: rgb(255, 255, 255);
}
.vertical-line {
  width: 30rem;
  height: 0.5px;
  background-color: #696969;
  margin: 0 auto;
}